/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contêiner principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Card de login */
.login-card {
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

/* Logo */
.login-logo {
  width: 100px;
  margin-bottom: 10px;
}

/* Título e textos */
h2 {
  color: #123068;
  margin-bottom: 5px;
}

.login-subtitle {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.login-instruction {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}

/* Estilos dos inputs */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Botão de login */
.login-button {
  width: 100%;
  padding: 12px;
  background-color: #123068;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0d2454;
}

/* Mensagem de erro */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Link de registro */
.register-link {
  font-size: 14px;
  margin-top: 10px;
}

.register-link a {
  color: grey;
  text-decoration: underline;
}
